flake8==5.0.4
flake8-pep3101==2.0.0
openpyxl==2.6.0
pip-review==1.0
psycopg2-binary==2.9.6
pyshp==2.3.1
pytest==6.2.5
pytest-mock==3.6.1
pytest-pythonpath==0.7.4
python-keystoneclient==4.3.0
python-swiftclient==4.3.0
PyYAML==5.4
requests==2.26.0
requests-mock==1.10.0
urllib3==1.26.15
